/* CSS Reset Start Here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: linear-gradient(90deg, rgba(2,1,19,1) 0%, rgb(1, 15, 29) 50%, rgba(3,3,31,1) 100%);
    font-family: 'IBM Plex Mono';
	height: 100vh;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End Here */

:root {
	--orange-color-alpha : rgba(245, 140, 98, 0.5);
	--orange-color-solid : rgba(245, 140, 98, 1);
	--blue-color-solid : rgba(5, 188, 243);
	--blue-color-alpha : rgba(5, 188, 243, 0.5);
}

.navbar-container {
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid var(--blue-color-alpha);
	box-shadow: 0 1px 15px var(--blue-color-alpha);
	z-index: 999;
}

body nav .navbar-title {
	/* border: 1px solid white; */
	padding: 2vh 10vw 2vh 10vw;
	font-size: 3vh;
	font-weight: 700;
	color: var(--blue-color-solid);
	text-shadow: 0 0 10px var(--blue-color-alpha),
				 0 0 30px var(--blue-color-alpha),
				 0 0 60px var(--blue-color-alpha),
				 0 0 120px var(--blue-color-alpha);
	text-align: center;
}

body nav .navbar-title span{
	color: var(--orange-color-solid);
	text-shadow: 0 0 10px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha),
				 0 0 120px var(--orange-color-alpha);
}

body nav .navbar-menu {
	/* border: 1px solid white; */
	width: 20vw;
	height: 7vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

body nav .navbar-menu .navbar-menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 5vh;
}

.menu-icon {
	font-size: 3vh;
	color: var(--blue-color-solid);
	opacity: 0.8;
	transition: 0.5s;
	text-shadow: 0 0 15px var(--blue-color-alpha),
				 0 0 30px var(--blue-color-alpha),
				 0 0 45px var(--blue-color-alpha),
				 0 0 60px var(--blue-color-alpha);
}

.menu-text {
    font-family: "Share Tech", sans-serif;
	position: absolute;
	color: var(--blue-color-solid);
	font-size: 1.9vh;
	font-weight: 500;
	opacity: 0;
    top: 3vh;
	transition: 0.5s;
}

.navbar-menu .navbar-menu-item:hover .menu-icon {
	transform: translateY(-0.6vh);
    color: var(--orange-color-solid);
	text-shadow: 0 0 15px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 45px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha);
	opacity: 1;
}

.navbar-menu .navbar-menu-item:hover .menu-text {
    color: var(--orange-color-solid);
	text-shadow: 0 0 15px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 45px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha);
	opacity: 1;
}

.navbar-menu .navbar-menu-item.active .menu-icon {
	transform: translateY(-0.6vh);
    color: var(--orange-color-solid);
	text-shadow: 0 0 15px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 45px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha);
	opacity: 1;
}

.navbar-menu .navbar-menu-item.active .menu-text {
    color: var(--orange-color-solid);
	text-shadow: 0 0 15px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 45px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha);
	opacity: 1;
}

.navbar-menu-chat {
	display: flex;
	align-items: flex-end;
	border-radius: 10px;
	padding: 2vh 10vw 2vh 10vw;
	color: rgba(5, 188, 243);
	font-size: 1.7vh;
	font-weight: 500;
	text-shadow: 0 0 10px var(--blue-color-alpha),
                 0 0 30px var(--blue-color-alpha),
                 0 0 60px var(--blue-color-alpha);
}

.navbar-menu-chat span {
	padding: 5px;
    font-family: "Share Tech", sans-serif;
}

.navbar-menu-chat .bx-message-rounded-dots {
	font-size: 2vh;
}


/* Hero Start Here */

.hero {
	/* border: 1px solid white; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    width: 100%;
    height: 92vh;
	padding: 0 15vw;
    box-sizing: border-box;
}

section .hero-text {
    /* border: 1px solid white; */
    width: 30vw;
    color: white;
	box-sizing: border-box;
}

.hero-text h1, .hero-text h2 {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 3vh;
    line-height: 5vh;
    color: var(--blue-color-solid);
}

.hero-text .hero-name {
	line-height: 5vh;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
				 0 0 30px var(--blue-color-alpha),
				 0 0 45px var(--blue-color-alpha),
				 0 0 60px var(--blue-color-alpha);
}

.hero-text .name {
	font-size: 6vh;
}

.hero-text .hero-name span, .hero-text .input {
	color: rgba(245, 140, 98, 0.9);
    text-shadow: 0 0 15px var(--orange-color-alpha),
				 0 0 30px var(--orange-color-alpha),
				 0 0 45px var(--orange-color-alpha),
				 0 0 60px var(--orange-color-alpha);
}


.hero-text h2 .input {
    font-family: 'Share Tech';
    letter-spacing: 0.1vw;
	color:rgba(245, 140, 98,1);
}

.hero-text h3 {
    font-family: 'Share Tech';
    font-size: 1.6vh;
    line-height: 3vh;
    letter-spacing: 0.1rem;
    color: white;
}

.hero-text h3 span {
    letter-spacing: 0.2rem;
    color: rgba(245, 140, 98, 0.9);
    font-weight: 700;
}

section .hero-picture {
    /* border: 1px solid white; */
    width: 50vw;
    height: 70vh;
    background-image: url("../images/hero-picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: url("../images/splash2.svg");
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
	box-sizing: border-box;
	animation: bounce 2s alternate cubic-bezier( 
		.5, 0.05, 1, .5) infinite;
	animation-delay: 3000ms;
}

@keyframes bounce { 
	0% { 
		transform: translate3d(0, 0, 0); 
	} 
	100%{
		transform: translate3d(0, 3vh, 0); 
	}
}
.hero-text .hero-social {
    /* border: 1px solid white; */
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 60%;
	font-size: 2vh;
	line-height: 3vh;
	margin-top: 2vh;
}

.hero-text .hero-social a {
    /* border: 1px solid rgb(2, 1, 19); */
	display: flex;
	justify-self: center;
	align-items: center;
	padding: 1vh;
	margin-right: 1vw;
	color: white;
	border-radius: 40%;
	color: rgb(2, 1, 19);
	text-shadow: 0 0 15px var(--orange-color-solid),
				 0 0 30px var(--orange-color-solid),
				 0 0 45px var(--orange-color-solid),
				 0 0 80px var(--orange-color-solid);
	box-shadow: 0 0 15px var(--orange-color-alpha);
	transition: 0.3s;
	box-sizing: border-box;
}

.hero-text .hero-social a:hover {
	background-color: var(--orange-color-solid);
	box-shadow: 0 0 15px 15px var(--orange-color-alpha);
}
